---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE_NAV } from '../consts';
---

<header>
	<nav>
        <img src="/favicon.svg" width={40} height={40} />
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
        </div>
        <div />
	</nav>
</header>
<style>
    header {
        background: var(--background-t);
        backdrop-filter: blur(20px);
        position: sticky;
        top: 0;
        z-index: 2;
    }
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
        height: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
	nav a {
		padding: 1em 0.5em;
		color: var(--text-color);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
	    color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
